/****** chat__message ******/

.chat__message {
  border: 1px solid lightgreen;
}
.chat__message__user-photo {
  color: cornflowerblue
}
.chat__message__user-name {
  color: rgb(58, 99, 154)
}
.chat__message__sent-time {
  color: rgb(117, 124, 172)
}
.chat__message__text {
  font-weight: bold
}

/****** chat__reply ******/

.chat__reply {
  background-color: lightgray;
}