.chat__reply {
  background-color: lightgray;
  border: 1px solid blue;
  margin: 3px 3px 3px 3px;
}

.chat__reply__input {
  background-color: lightGray;
  box-sizing: border-box;
  width: 100%;
}

.chat__reply__sendingText_isSending {
  display: none;
}